<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Registration Form</title>
</head>

<body>
  <h2>Registration Form</h2>
  <div>
    <%=users%>
    <form method="POST" action="/register">
      <label>Email:</label>
      <input type="email" name=email>
      <label>Password:</label>
      <input type="password" name=password>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>
</html>