<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Registration Form</title>
</head>

<body>
  <h2>Create Account</h2>
  <div>
    <form method="POST" action="/register">
      <label>Email address:</label>
      <input type="email" name=email placeholder="Enter email">
      <label>Password:</label>
      <input type="password" name=password placeholder="Password">
      <button type="submit">Register</button>
    </form>
  </div>
</body>
</html>